@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

header {
  height: 40px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #272e28;
}

.items {
  display: flex;
  flex-direction: rows;
}

.items i {
  padding-right: 10px;
}

#home {
  position: relative;
  top: 8px;
}

.text {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 895px) {
  header {
    display: none;
  }
}
